
/* General */
h1,h2,h3,h4,h5,h6,p,a,label,input,textarea,div
{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #740303;
}

.form-control:focus{
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.alert-danger{
    background-color: #f44336;
    color: white;
    border:none;
}

.canvasjs-chart-credit{
    display: none;
}

.alert-danger.alert-danger-required{
    padding: 3px;
    margin-top: 7px;
}

.alert-success{
    background-color: #009688;
    color: white;
    border:none;
}

/* Steps */

#steps{
    width: 75%;
    margin: 50px auto;
    background-color: #FFF;
}

#steps .steps-tabs{
    background: url("../img/tabs-bg.png") repeat;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    border: 1px solid #DDD;
}

#steps .steps-tabs .line{

}

#steps .steps-tabs .step-tab {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #DDD;*/
    margin-left: 55px;
    position: relative;
    transition: .5s all ease-in-out;
}

.tooltip-inner{
    font-size: 13px;
}

#steps .steps-tabs .step-tab .fa{
    font-size: 30px;
}

#steps .steps-tabs .step-tab:before{
    content: "";
    position: absolute;
    top: 50%;
    width: 60px;
    border: 1px solid #DDD;
    left: 68px;
}

#steps .steps-tabs .step-tab.last-step:before{
    display: none;
}

/*steps from 1 to 7 */

#steps .steps-tabs .step-1-tab {
    border: 2px solid #22c222
}

#steps .steps-tabs .step-1-tab .fa{
    color: #22c222;
}

#steps .steps-tabs .step-2-tab {
    border: 2px solid #3e5e9a
}

#steps .steps-tabs .step-2-tab .fa{
    color: #3e5e9a;
}

#steps .steps-tabs .step-3-tab {
    border: 2px solid #febe29
}

#steps .steps-tabs .step-3-tab .fa{
    color: #febe29;
}


#steps .steps-tabs .step-4-tab {
    border: 2px solid #f1685e
}

#steps .steps-tabs .step-4-tab .fa{
    color: #f1685e;
}

#steps .steps-tabs .step-5-tab {
    border: 2px solid #999
}

#steps .steps-tabs .step-5-tab .fa{
    color: #999;
}


#steps .steps-tabs .step-6-tab {
    border: 2px solid #03a9f4
}

#steps .steps-tabs .step-6-tab .fa{
    color: #03a9f4;
}


#steps .steps-tabs .step-7-tab {
    border: 2px solid #009688
}

#steps .steps-tabs .step-7-tab .fa{
    color: #009688;
}


#steps .steps-tabs .step-tab.active {
    background-color: #ef9a9a;
    border: 2px solid #FFF;
}

#steps .steps-tabs .step-tab.active .fa{
    color: #FFFFFF;
}



/*Steps Content*/

#steps .steps-content{
    margin-top: 5px;
    text-align: center;
    padding-bottom: 20px;
}

#steps .steps-content .step-content:not(.active){
    display: none;
}

#steps .steps-content .title{
    background-color: #f5f5f5;
    border: 1px solid #DDD;
    padding: 10px;
    color: #f48260;
    margin-bottom: 20px;
}

#steps .steps-content .text{
    padding: 0 20px;
}


#steps .steps-content #next-btn{
    background-color:#740303;
    color:#FFF;
    border:none;
    padding:5px 20px;
    border-radius:20px;
    margin-top:10px;
    cursor:pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid #740303;
}

#steps .steps-content #next-btn:focus{
    outline: 0;
}

#steps .steps-content #next-btn:hover{
    background-color: #f5f5f5;
    color: #333333;
    border: 1px solid #999;
}

#steps .steps-content #next-btn .fa{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#steps .steps-content #next-btn:hover .fa{
    transform: rotate(65deg);
}

/*step 1*/
#steps .step-1-content .select{
    width: 300px;
    display: inline-grid;
    margin: 0 20px;
}

/*step 2*/

#steps .step-2-content #chartContainer{
    margin-top: 80px;
    padding-left: 160px;
}

#steps .step-2-content .text{
    margin-top: 40px;
}

/* Start Chart  */
#q-graph {
    display: block; /* fixes layout wonkiness in FF1.5 */
    position: relative;
    width: 600px;
    margin: 1.1em 0 0;
    padding: 0;
    background: transparent;
    font-size: 11px;
    left: -90px;
}

#q-graph caption {
    caption-side: top;
    width: 600px;
    text-transform: uppercase;
    letter-spacing: .5px;
    top: -40px;
    position: relative;
    z-index: 10;
    font-weight: bold;
}

#q-graph tr, #q-graph th, #q-graph td {
    position: absolute;
    bottom: 0;
    width: 150px;
    z-index: 2;
    margin: 0;
    padding: 0;
    text-align: center;
}

#q-graph td {
    transition: all .3s ease;
    color: white;
}

#q-graph thead tr {
    left: 100%;
    top: 50%;
    bottom: auto;
    margin: -2.5em 0 0 5em;}
#q-graph thead th {
    width: 7.5em;
    height: auto;
    padding: 0.5em 1em;
}
#q-graph thead th.sent {
    top: 0;
    left: 0;
    line-height: 2;
}
#q-graph thead th.paid {
    top: 2.75em;
    line-height: 2;
    left: 0;
}

#q-graph tbody tr {
    height: 296px;
    padding-top: 2px;
    border-right: 0;
    color: #AAA;
    top: 0px;
    transition: all .5s ease;
}

#q-graph #q1 {left:50px;}
#q-graph #q2 {left: 150px; !important;}
#q-graph #q3 {left: 250px; !important;}
#q-graph #q4 {left: 350px; !important; }
#q-graph #q5 {left: 450px; !important; }
#q-graph #q6 {left: 550px; !important; }
#q-graph #q7 {left: 650px; !important; }


#q-graph tbody th {bottom: -1.75em; vertical-align: top;
    font-weight: normal; color: #333;}
#q-graph .bar {
    width: 30px;
    border-bottom: none;
    color: #000;
}
#q-graph .bar p {
    margin: 5px 0 0;
    padding: 0;
    opacity: 1;
    color: white;
}
#q-graph .sent {
    height: 150px;
    left: 37px;
    background-color: #5C90D8;
    border-color: transparent;
    max-height: 100%;
    transition: all .25s ease
}

#q-graph .paid {
    height: 120px;
    left: 77px;
    background-color: #D44845;
    border-color: transparent;
    max-height: 100%;
    transition: all .25s ease
}


#ticks {
    position: relative;
    left: 2px;
    width: 675px;
    height: 300px;
    z-index: 1;
    font-size: 10px;
}

#ticks .tick {
    position: relative;
    border-top: 1px dotted #C4C4C4;
    width: 100%;
    top: -20px;
}
#ticks .last
{height: 39px;}
#ticks .tick p {
    position: absolute;
    left: -5em;
    top: -0.8em;
    margin: 0 0 0 0.5em;
    font-weight: bold;
}

/* Start Add q5 and q6 */

.qtr
{
    opacity: .7;
}

#agriculture #ticks .tick{
    top: 8px;
}

#mning #ticks .tick{
    top: 45px;
}

#utilities #ticks .tick{
    top: -5px;
}

#construction #ticks .tick{
    top: 15px;
}

#manufacturing #ticks .tick{
    top: 15px;
}

#wholesale #ticks .tick{
    top: 15px;
}

#transportation #ticks .tick{
    top: 16px;
}


#information #ticks .tick{
    top: 20px;
}


#finance #ticks .tick{
    top: -4px;
}

#professional #ticks .tick{
    top: 7px;
}

#management #ticks .tick{
    top: -4px;
}

#administrative #ticks .tick{
    top: 15px;
}

#educational #ticks .tick{
    top: 16px;
}

#arts #ticks .tick{
    top: 35px;
}

#healthcare #ticks .tick{
    top: 16px;
}

#accommodation #ticks .tick{
    top: 47px;
}

#other #ticks .tick{
    top: 16px;
}



/*step 3*/
#steps .step-3-content .row{
    margin-top: 25px;
    margin-bottom: 10px ;
}

#steps .step-3-content .row .inputs-row{
    padding: 0 20px;
}

#steps .step-3-content .row .inputs-row{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}


#steps .step-3-content .inputs-row .form-check-input{
    position: static;
}

#steps .step-3-content .inputs-row .form-check-input{
    position: static;
    margin-left: 10px;
}

#steps .step-3-content .inputs-row select.form-control{
    display: inline-block;
    width: auto;
}

#steps .step-3-content .inputs-row label{
    margin-right:0px;
}

#steps .step-3-content .alert-danger{
    margin-left: 40px;
    width: 80%;
    display: none;

}

/*Step 4*/

#steps .step-4-content{
    margin-top: 20px;
}

#steps .step-4-content .input{
    max-width: 400px;
    display: block;
    margin: 15px auto;
}

/*step 5*/

#steps .step-5-content{
    margin-top: 30px;
    padding: 0 40px;
}

#steps .step-5-content .input-with-icon{
    position: relative;
}

#steps .step-5-content .input-with-icon .fa{
    background: #eee;
    padding: 11px 15px;
    position: absolute;
    left: -2px;
    top: 0px;
}

#steps .step-5-content .input-with-icon input[type="number"]{
    padding-left: 50px;
}

#steps .step-5-content .input-with-icon input[type="number"]:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #eee;
}

#steps .step-5-content .input{
    margin-bottom: 10px;
}

#steps .step-5-content .input .row{
    align-items: center;
}

/*Step 6*/
#steps .step-6-content{
    margin-top: 20px;
}

#steps .step-6-content .input{
    max-width: 400px;
    display: block;
    margin: 15px auto;
}

#steps .step-6-content .progress-wrap{
    display: none;
}

/*Step 7*/
#steps .step-7-content .alert{
    width: 90%;
    margin: 26px auto;
}


.msg .alert{
    width: 80%;
    margin: 30px auto;
}



button[type="submit"]{
    padding-right: 40px;
    padding-left: 40px;
    background-color: #740303;
    border: 1px solid #740303;
    border-radius: 20px;
    margin-bottom: 20px;
}

#questions-form .logo{
    position: relative;
    top: -1px;
    margin-bottom: 20px;
}



/*Show Data*/

#table {
    width: 96%;


    background-color: #f2f3f5;
    margin: 20px auto;
}

#table .title{
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
    color: #f48260;
}

#table .table-container{
    padding: 0 20px;
    background: #fff;
    border: 1px solid #ccc;
    overflow: auto;
}

#table .table-container .table td, #table .table-container .table th{
    border-left: 1px solid #dee2e6;
    text-align: center;
}

#table .table-container a{
    color:#8c8c8c;
}



#table .fixed-table-toolbar .dropdo#download .download-box .app-head .app-name h1wn-menu{
    text-align: center;
}


.fixed-table-pagination div.pagination .pagination li.active a{
    background-color: #740303;
    border: none;
    color: #fff !important;
}

.fixed-table-pagination span.dropup .dropdown-menu a.active{
    background-color: #740303;
    color: #fff !important;
}


#steps .step-3-content .inputs-row .form-check-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

#steps .step-3-content .row .inputs-row span.check{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #EEEEEE;
    border: 1px solid #ccc;
    margin: 0 20px;
    font-size: 24px;
    color: #009688;
}

#steps .step-3-content .row .inputs-row span.check .fa.check{
    color: #009688;
}

#steps .step-3-content .row .inputs-row span.check .fa.unchecked{
    color: #ccc;
}




/* Media */

@media screen and (max-width: 1240px) {

    #steps .steps-tabs .step-tab{
        margin-left: 20px;
    }


}


@media screen and (max-width: 1100px) {

    #steps .steps-tabs .step-tab{
        margin-left: 20px;
    }


}


@media screen and (max-width: 950px) {

    #steps .steps-tabs .step-tab{
        margin-left: 15px;
    }


}

@media screen and (max-width: 915px) {

    #steps .step-1-content .select{
        margin-bottom: 15px;
    }


}


@media screen and (max-width: 860px) {

    #steps .steps-tabs .step-tab{
        margin-left: 10px;
        width: 50px;
        height: 50px;
    }


}

@media screen and (max-width: 768px) {

    #steps .steps-tabs .step-tab{
        width: 50px;
        height: 50px;
    }
    #steps .steps-tabs .step-tab .fa{
        font-size: 20px;
    }

}


@media screen and (max-width: 660px) {

    #steps .steps-tabs .step-tab{
        width: 40px;
        height: 40px;
    }

}

@media screen and (max-width: 580px) {
    #steps .steps-tabs .step-tab{
        width: 35px;
        height: 35px;
    }

    #steps .steps-tabs{
        overflow: hidden;
    }

}

@media screen and (max-width: 460px) {
    #steps .steps-tabs .step-tab{
        margin-left: 4px;
    }

    #steps .steps-tabs .step-tab .fa{
        font-size:13px;
    }

    #steps .steps-tabs .step-tab{
        width: 25px;
        height: 25px;
    }

}

@media screen and (max-width: 380px) {
    #steps .steps-tabs .step-tab .fa{
        font-size:12px;
    }

    #steps .step-1-content .select{
        width: auto;
    }

    #steps .steps-tabs .step-tab{
        margin-left: 4px;
    }

}

@media screen and (max-width: 320px) {
    #steps .steps-tabs .step-tab .fa{
        font-size:10px;
    }

    #steps .step-1-content .select{
        width: auto;
    }

    #steps .steps-tabs .step-tab{
        margin-left: 2px;
    }

    #steps .steps-tabs .step-tab{
        width: 25px;
        height:25px;
    }

}

@media screen and (max-width: 340px) {
    #steps .step-3-content .inputs-row select.form-control{
        padding: 2px;
    }
}

@media screen and (max-width: 570px) {
    #steps .step-4-content .input,
    #steps .step-6-content .input
    {
        max-width: 90%;
    }
}


/*chart media*/

@media screen and (max-width: 1160px) {
    #steps .step-2-content #chartContainer{
        padding-left: 85px;
    }
}

@media screen and (max-width: 1060px) {
    #q-graph .bar{
        width: 30px;
    }

    #q-graph .paid{
        left: 67px;
    }

    #q-graph #q1 {left:50px;}
    #q-graph #q2 {left: 120px; !important;}
    #q-graph #q3 {left: 190px; !important;}
    #q-graph #q4 {left: 280px; !important; }
    #q-graph #q5 {left: 350px; !important; }
    #q-graph #q6 {left: 420px; !important; }
    #q-graph #q7 {left: 490px; !important; }

    #ticks .tick{
        width: 72%;
    }
}

@media screen and (max-width: 800px) {
    #q-graph .bar{
        width: 20px;
    }

    #q-graph .paid{
        left: 58px;
    }

    #q-graph #q1 {left:50px;}
    #q-graph #q2 {left: 100px; !important;}
    #q-graph #q3 {left: 150px; !important;}
    #q-graph #q4 {left: 200px; !important; }
    #q-graph #q5 {left: 250px; !important; }
    #q-graph #q6 {left: 300px; !important; }
    #q-graph #q7 {left: 350px; !important; }

    #ticks .tick{
        width: 50%
    }
}

@media screen and (max-width: 580px) {

    #steps .step-2-content #chartContainer{
        padding-left: 60px;
    }

    #q-graph .bar{
        width: 10px;
    }

    #q-graph .paid{
        left: 47px;
    }

    #q-graph #q1 {left:50px;}
    #q-graph #q2 {left: 75px; !important;}
    #q-graph #q3 {left: 100px; !important;}
    #q-graph #q4 {left: 125px; !important; }
    #q-graph #q5 {left: 150px; !important; }
    #q-graph #q6 {left: 175px; !important; }
    #q-graph #q7 {left: 200px; !important; }

    #ticks .tick{
        width: 50%
    }
}